#brand{
    color:white;
}
#navbarSupportedContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#navbarDropdown{
    font-size: 25;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:black;
    margin-top: 10;
}
.formu{
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:90%;
}
.formulaire{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: inherit;
    width:60%;
    margin-top: 15;
}
.history{
    display: flex;
    flex-direction: row;
}
.btn{
    border-color: transparent;
}
.btn:hover{
    background-color: #FFD100;
    border-color: transparent;
}