html,body{
    background-color: black;
  }

p {
    font: bold italic large serif;
    font-size: 2em;
    text-shadow:0 0 2px #FFD100,0 0 30px #FFD100,0px 0px 5px #FFD100, 0 0 150px #FFD100;color:#000000;
    
  }  

img {
    height: 400px; 
    width: inherit;
    object-fit: cover;
    
    
  }
  
  .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;

}
.brand{
    color:white;
}
#navbarSupportedContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.formu{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:90%;
}
.sign{
    display : flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
#navbarDropdown{
    font-size: 25;
}
.formulaire{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: inherit;
    width:60%;
    margin-top: 15;
}
#in{
color:white;
border-color: black;
}
.drop{
 border-color: white;
}