
#m1{   
   visibility:visible;
  }
  #m1:focus{  
    visibility:hidden;
   }
#m2{
    visibility:hidden;
}
#m3{
    visibility:hidden;
}
 #m2:focus{
    visibility:visible;
 }
 #m3:focus{
    visibility:visible;
 }