body {
  background: #111 ;
   
}

.card {
  background: #222;
  border: 1px solid #FFC312;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  margin-right: 30px;
}



img {
  object-fit: cover;
  
}

h6,h5 {
  text-align: center;
  font-weight: lighter;
  font-family:Times New Roman ;

}


h1 {
  font-family:Times New Roman ;
  margin-bottom: 20px;
  margin-top: 20px;
}

#Ajouter{
  margin-bottom: 20px;
  margin-left: 88%;
}